<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grade Recorder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/stylesheets/no_courses.css">
</head>
<body>
<!-- ========================== Navigation bar ========================== -->
  <div class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" href="#">Grade Recorder</div>
      </div>
      {% if user_email %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="visible-md visible-lg" href="#">{{user_email}}</a></li>
            <li><a href="{{ logout_url }}">Sign out</a></li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      {% endif %}
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar -->

<!-- ========================== Main ========================== -->
  <div class="container">
    <div class="jumbotron">
      <h1>Grade Recorder</h1>
      <img width="360px" height="360px" src="/static/images/icon_alpha_480.png" alt="logo" />
      {% if user_email %}
        <p class="lead">Before you can start adding students, making assignments, and storing grades you first need a course.</p>
        <p><button data-toggle="modal" data-target="#add-course-modal" class="btn btn-lg btn-success" type="button">Create a course</button></p>
      {% else %}
        <p class="lead">Sign in to access your data.</p>
        <p><a href="{{ login_url }}" class="btn btn-lg btn-success">Sign in with Google</a></p>
      {% endif %}
    </div>
  </div>


<!-- ========================== Modal data entry dialogs ========================== -->

  <!-- Modal -->
  <div id='add-course-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Course" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Course</h4>
        </div>
        <form class="form-horizontal" action="/action/insert_course" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="title" class="col-sm-2 control-label">Title:</label>
              <div class="col-sm-10">
                <input name="title" type="text" class="form-control" placeholder="For example ME430 - Mechatronics">
              </div>
            </div>
            <div class="form-group">
              <label for="academic_quarter" class="col-sm-2 control-label">Quarter:</label>
              <div class="col-sm-10">
                <input name="academic_quarter" type="text" class="form-control" placeholder="For example W1415 or 201520 (short is preferred))">
              </div>
            </div>
            <div class="form-group">
              <label for="grader_emails" class="col-sm-2 control-label">Graders:</label>
              <div class="col-sm-10">
                <input name="grader_emails" type="text" class="form-control" placeholder="Blank if none or comma separated list of emails (google accounts)">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Course</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


  <!-- ========================== Bootstrap core JavaScript ========================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/static/js/graderecorder.js"></script>
</body>
</html>
